body {
	font-family:'MyriadPro-Regular';
	font-weight: normal;
}
.f-face1, .input1, .textarea1, .fillform label span {
	font-family:'MyriadPro-Regular';
	font-weight: normal;
}
.f-face2, #navigation li a.active,#ContentPlaceHolder1_worksectioncontent .link-block h1, .signup-form .bt-blue, .signup-form1 .bt-blue, .commoncol li .usercol span, .team-list li h3, .fillform label, .fillform .bt-gray, .login label, .signup-form label, .table2 .row1, .detail .graycol-right h4, .detail .price-line, .splash-box .bt-blue {
	font-family:'MyriadPro-SemiBold';
	font-weight: normal;
}
.f-face3 {
	font-family:'MyriadPro-SemiBoldItalic';
	font-weight: normal;
}
.f-face4, .table .row span, .address-block .bt-blue2, .bt-gray2, .popup .bt-blue, .graycol-right h3, .bt-gray3 {
	font-family:'MyriadPro-Bold';
	font-weight: normal;
}
.f-face5, .pricing .column .value span, .featured h2, .freelance h2, .signup-form h4, .signup-form1 h4, .popup h3, .breadcrumb li, .detail h3, .similar-links h2, .tour h1, .footer-tagline h2, .pm-text h2, .testimonial-sidebar h1, .wide100-about h2.title, .wide100-contact h2.title {
	font-family: 'MyriadPro-Cond';
	font-weight: normal;
}
.f-face6, body blockquote, .latest-post li p span, .tweets p, .forbes-quote p, .techBox, .pr-quote-wrap span {
	font-family: 'MyriadPro-It';
	font-weight: normal;
}
.f-face7, .steplink li .step-number, body h2, .ribbon p, .signup-form h3, .signup-form1 h3, .popup h3, .detail .ribbon h5, .contact-barw{
	font-family: 'MyriadPro-BoldCond';
	font-weight: normal;
}


@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('../fonts/myriadpro-regular-webfont-webfont.eott');
    src: url('../fonts/myriadpro-regular-webfont-webfont.eot?#iefixx') format('embedded-opentype'),
         url('../fonts/myriadpro-regular-webfont-webfont.woff') format('woff'),
         url('../fonts/myriadpro-regular-webfont-webfont.ttf') format('truetype'),
         url('../fonts/myriadpro-regular-webfont-webfont.svg#myriadpro-regular-webfont-webfontt') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'MyriadPro-BoldCond';
	src: url('../fonts/myriadpro-boldcond.eot');
	src: url('../fonts/myriadpro-boldcond.eot?#iefixx') format('embedded-opentype'),
			 url('../fonts/myriadpro-boldcond.woff') format('woff'),
			 url('../fonts/myriadpro-boldcond.ttf') format('truetype'),
			 url('../fonts/myriadpro-boldcond.svg#myriadpro-boldcondd') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'MyriadPro-Cond';
	src: url('../fonts/myriadpro-cond.eot');
	src: url('../fonts/myriadpro-cond.eot?#iefixx') format('embedded-opentype'),
			 url('../fonts/myriadpro-cond.woff') format('woff'),
			 url('../fonts/myriadpro-cond.ttf') format('truetype'),
			 url('../fonts/myriadpro-cond.svg#myriadpro-condd') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'MyriadPro-It';
	src: url('../fonts/myriadpro-it.eot');
	src: url('../fonts/myriadpro-it.eot?#iefixx') format('embedded-opentype'),
			 url('../fonts/myriadpro-it.woff') format('woff'),
			 url('../fonts/myriadpro-it.ttf') format('truetype'),
			 url('../fonts/myriadpro-it.svg#myriadpro-itt') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'MyriadPro-SemiBold';
    src: url('../fonts/myriadpro-semibold-webfont.eot');
    src: url('../fonts/myriadpro-semibold-webfont.eot?#iefixx') format('embedded-opentype'),
         url('../fonts/myriadpro-semibold-webfont.woff') format('woff'),
         url('../fonts/myriadpro-semibold-webfont.ttf') format('truetype'),
         url('../fonts/myriadpro-semibold-webfont.svg#myriadpro-semibold-webfontt') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro-SemiBoldItalic';
    src: url('../fonts/myriadpro-semiboldit-webfont.eot');
    src: url('../fonts/myriadpro-semiboldit-webfont.eot?#iefixx') format('embedded-opentype'),
         url('../fonts/myriadpro-semiboldit-webfont.woff') format('woff'),
         url('../fonts/myriadpro-semiboldit-webfont.ttf') format('truetype'),
         url('../fonts/myriadpro-semiboldit-webfont.svg#myriadpro-semiboldit-webfontt') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro-Bold';
    src: url('../fonts/myriadpro-bold-webfont.eot');
    src: url('../fonts/myriadpro-bold-webfont.eot?#iefixx') format('embedded-opentype'),
         url('../fonts/myriadpro-bold-webfont.woff') format('woff'),
         url('../fonts/myriadpro-bold-webfont.ttf') format('truetype'),
         url('../fonts/myriadpro-bold-webfont.svg#myriadpro-bold-webfontt') format('svg');
    font-weight: normal;
    font-style: normal;
}
