.menu ul {
    display: block;
    float: left;
    margin-top: 6px;
}
.menu ul li {
    display: block;
    float: left;
    padding-left: 23px;
}
.menu ul li span {
    border-radius: 5px 5px 5px 5px;
    display: inline-block;
    padding: 4px 6px;
}
.menu ul li span.active {
    background-color: #DBE1EC;
    border: 1px solid #6F90B6;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.3) inset;
    cursor: pointer;
    display: inline-block;
    padding: 3px 5px;
}
.login-btn {
    background: linear-gradient(#477AAC, #225485) repeat scroll 0 0 transparent;
    border: 1px solid #1B4772;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font-family: 'MyriadPro';
    font-size: 12px;
    font-weight: normal;
    margin-right: 10px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
/* Login */
body.login div.content_wrapper {
    background: url("../../files/template/frontend/background_wrapper.png") repeat-x scroll 0 0 transparent;
    height: 100%;
    width: 100%;
}
div.login {
    height: 195px;
    margin: 0 auto;
    padding-top: 200px;
    width: 192px;
}
div.login .logo {
    background: url("../../files/template/frontend/logo_login.png") no-repeat scroll 0 0 transparent;
    height: 42px;
    margin: 0 auto 10px;
    text-indent: -9999px;
    width: 160px;
}
.input, .textarea {
    border: 1px solid #AEB8D0;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5), 3px 3px 3px rgba(109, 118, 138, 0.4) inset;
    color: #999999;
    float: left;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 10px;
    padding: 5px 8px;
    width: 172px;
}
.login a {
    color: #2F6FAE;
    display: block;
    /*float: left;*/
    font-size: 12px;
    line-height: 1;
    padding-bottom: 4px;
    text-decoration: none;
}
.login .actions_login {
    float:left;
}
.login a:hover {
    color:#fff;
    text-decoration: none;
}
.redmessage {
    color: #2F6FAE;
    display: block;
    font-family: 'MyriadPro-Regular';
    font-size: 1em;
    display: block;
    padding: 8px;
}
.logo_wrapper .logo {
    margin: 0 auto;
    width: 77px;
    height: 26px;
}
.logo_wrapper {
    float:left;
    width:200px;
    padding: 5px 0 0 0;
}
.logo img {
    width:77px;
    height:26px;
}
.left_bar {
    background: url("../../files/template/frontend/left_panel_background.jpg") repeat scroll left top transparent;
    width:200px;
    border-right: 1px solid #255485;
    height: 100%;
    float:left;
}
.left_bar .bar_tab {
    border-bottom: 1px solid #225485;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    height: 33px;
    width: 100%;
    background: linear-gradient(#CBD9F0, #A8BBDA) repeat scroll 0 0 transparent;
    position: relative;
}
.bar_tab .bar_tab_head span {
    color: #225485;
    display: inline-block;
    float: left;
    font-family: 'MyriadPro-SemiBold';
    font-size: 1.5em;
    height: 33px;
    line-height: 32px;
    padding: 0 0 0 4%;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
.bar_tab .bar_tab_head a {
    display: block;
    float: left;
    position: relative;
    text-decoration: none;
    width: 15%;
    text-align: center;
}
.bar_tab .bar_tab_head a img {
    margin: 0;
    padding: 12px 0 0;
}
.bar_tab .bar_tab_body{
    min-height: 170px;
}
.bar_tab .bar_tab_body h4 {
    color: #225485;
    font-family: 'MyriadPro-SemiBold';
    font-size: 1em;
    line-height: 24px;
    padding: 0 0 0 10%;
    text-shadow: 0 1px #FFFFFF;
}
.bar_tab ul.filter_box {
    display: block;
    float: left;
    padding: 0 0 0 16%;
    list-style: none outside none;
}
ul.filter_box li {
    display: block;
}
ul.filter_box li.active a {
    background: url("../../files/template/frontend/filter_left_hover.png") no-repeat scroll left top transparent;
}
ul.filter_box li a {
    color: #2F6FAE;
    display: inline-block;
    font-family: 'MyriadPro-Regular';
    font-size: 1em;
    line-height: 19px;
    padding: 0 0 0 6px;
    text-decoration: none;
    text-shadow: 0 1px #FFFFFF;
}
ul.filter_box li.active a span {
    background: url("../../files/template/frontend/filter_right_hover.png") no-repeat scroll right top transparent;
}
ul.filter_box li a span {
    cursor: pointer;
    display: inline-block;
    padding: 0 6px 0 0;
}
ul.filter_box span {
    font-size: 1em;
}
.user_info {
    float:right;
    padding:8px 10px 0 10px;
}
/* Menu */
.menu ul {
    display: block;
    float: left;
    margin-top: 5px;
}
.menu ul li a {
    color: #225485;
    font-family: 'MyriadPro-Regular';
    font-size: 14px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.menu ul li span.active {
    background-color: #DBE1EC;
    border: 1px solid #6F90B6;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.3) inset;
    cursor: pointer;
    display: inline-block;
    padding: 3px 5px;
}
/* END Menu */
.personal_data .personal_info p {
    color: #2F6FAE;
    display: block;
    font-family: 'MyriadPro-Regular';
    font-size: 1em;
    line-height: 14px;
    padding: 0 0 3px;
}
h1 {
    color: #225485;
    font-family: 'MyriadPro-Semibold';
    font-size: 18px;
    padding-top: 15px;
}
.content {
    float:left;
    height: 100%;
}
.personal_data {
    padding:20px;
}
.personal_data .avatar {
    float:left;
}
.personal_data .personal_info {
    float:left;
    padding: 0 10px 0 20px;
}
.social_data {
    padding: 20px;
}
.content_wrapper .actions {
    background-color: #D1DBEA;
    box-shadow: -1px 0 0 #9CB2CD inset;
    height: 100%;
    width: 450px;
    float:left;
    padding: 60px 20px 20px 20px;
    margin-top:-54px;
}
h2 {
    color: #2F6FAE;
    font-family: 'MyriadPro-Semibold';
    font-size: 1.5em;
    line-height: 30px;
    padding: 2px 0 5px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
}
h5 {
    color: #2F6FAE;
    font-family: 'MyriadPro-Regular';
    font-size: 1.167em;
    font-weight: 400;
    line-height: 16px;
    padding: 5px 0;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}
label {
    color: #2F6FAE;
    display: block;
    float: left;
    /*font-family: 'MyriadPro-SemiBold';*/
    font-size: 1em;
    line-height: 21px;
    width: 235px;
}
.user_prof {
    padding: 20px 0 0 0;
}
.user_prof h4 {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #D1DBEA !important;
    border-color: #9CB2CD #9CB2CD #9CB2CD -moz-use-text-color;
    border-image: none;
    border-radius: 0 5px 5px 0;
    border-style: solid solid solid none;
    border-width: 1px 1px 1px medium;
    color: #225485;
    display: inline-block;
    float: left;
    font-family: 'MyriadPro-Regular';
    font-size: 1em;
    line-height: 21px;
    min-height: 21px;
    padding: 4px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}
.error{
    color: red;
    padding: 10px;
    width: 200px;
}
.order_list{
    margin: 10px 10px 40px 10px;
}
.order_list h4{
    color: #225485;
    font-family: 'MyriadPro-SemiBold';
    font-size: 1em;
    line-height: 24px;
    text-shadow: 0 1px #FFFFFF;
}
.order_list .dataTables_wrapper{
    margin-top: 20px;
}
.account_view .container{
    background-color: #D1DBEA;
    box-shadow: -1px 0 0 #9CB2CD inset;
    float: left;
    height: 100%;
    margin-top: -54px;
    padding: 60px 20px 20px;
    width: 360px;
}
em{color: #ccc;}
.message-details-container{ padding:30px 20px 20px 20px;}
.message-details-container label{width: 100px;}
.message-details-container span{line-height: 21px;}
.add-account-container span{
    color: #2F6FAE;
    font-family: 'MyriadPro-Regular';
    font-size: 14px;
    line-height: 14px;
    padding: 0 0 3px;
}
.add-account-container h5{
    width: 80px;
}
.summary-account-price{
    width: 100px;
    float: right;
    border: 1px solid #225485;
    color: #2F6FAE;
    font-family: 'MyriadPro-Regular';
    font-size: 14px;
    line-height: 14px;
    padding: 5px;
    font-weight: bold;
    text-align: center;
}
.summary-account-price span{
    padding-left: 5px;
}
.span2{
    float: none;
    width: 40px;
}
.account-type-view{
    margin: 10px auto;
}
.options-container{
    margin: 5px 0;
    padding: 5px;
    min-height: 40px;
    border: #225485 1px solid;
}
.options-container label{
    width: 80px;
}
.options-container h4{
    color: #2F6FAE;
    font-family: 'MyriadPro-Regular';
    font-size: 14px;
    line-height: 14px;
    padding: 5px;
    font-weight: bold;
}
.options-container .inline{
    display: inline-block;
}
.message-container{
    margin: 2px;
    min-height: 50px;
    width: 450px;
    padding: 5px;
    border: #2F6FAE 1px solid;
    position: relative;
}
.message-container.manager{
    background: linear-gradient(#DBE1EC, #CBD9F0) repeat scroll 0 0 transparent;
    color: #225485;
}
.message-container.client{
    background: linear-gradient(#6F90B6, #477AAC) repeat scroll 0 0 transparent;
    color: #FFFFFF;
}
.message-container .left-subcontainer{
    float: left;
    width: 80px;
    text-align: center;
}
.message-container .right-subcontainer{
    margin-left: 80px;
}
.message-container .right-subcontainer h4{
    font-size: 14px;
    font-weight: bold;
    padding: 5px 0;

}
.message-container .both{
    position: absolute;
    left: 80%;
    top: 80%;
    width: 80px;
    text-align: right;
}
.message-container .message-user-avatar img{
    width: 60px;
    height: 60px;
}